<div class="sidebar-area" id="sidebar-area">
  <div class="logo position-relative">
    <a href="/dashboard" class="d-block text-decoration-none">
      <img src="/assets/images/logo.png" alt="logo-icon" width="40">
      <span class="logo-text fw-bold text-dark">Sourabh Jangir</span>
    </a>
    <button
      class="sidebar-burger-menu bg-transparent p-0 border-0 opacity-0 z-n1 position-absolute top-50 end-0 translate-middle-y"
      id="sidebar-burger-menu">
      <i data-feather="x"></i>
    </button>
  </div>
  <aside id="layout-menu" class="layout-menu menu-vertical menu active" data-simplebar>
    <ul class="menu-inner">
      <li class="menu-item">
        <a href="/dashboard" class="menu-link active">
          <i class="fas fa-th"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="/maincategorylist" class="menu-link menu-toggle active">
          <i class="fas fa-tags"></i>
          <span class="title">Category Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/maincategorylist" class="menu-link">
              Main Categories List
            </a>
          </li>
          <li class="menu-item">
            <a href="/subcategorylist" class="menu-link">
              Sub Categories List
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/projectcontrol" class="menu-link menu-toggle active">
          <i class="fas fa-project-diagram" style="margin-right: 15px;"></i>
          <span class="title">Project Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="inbox.html" class="menu-link">
              Create Project
            </a>
          </li>
          <li class="menu-item">
            <a href="read-email.html" class="menu-link">
              Project List
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/blogcontrol" class="menu-link menu-toggle">
          <i class="fas fa-blog"></i>
          <span class="title">Blog Manage</span>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="inbox.html" class="menu-link">
                Create Blog
              </a>
            </li>
            <li class="menu-item">
              <a href="read-email.html" class="menu-link">
                Blog List
              </a>
            </li>
          </ul>
        </a>
      </li>
      <li class="menu-item">
        <a href="/skillcontrol" class="menu-link menu-toggle active">
          <i class="fas fa-cog"></i>
          <span class="title">Skills Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="invoice-list.html" class="menu-link">
              List
            </a>
          </li>
          <li class="menu-item">
            <a href="invoice-details.html" class="menu-link">
              Invoice Details
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/testimonialscontrol" class="menu-link menu-toggle active">
          <i class="fas fa-comments"></i>
          <span class="title">Testimonials</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="members-grid.html" class="menu-link">
              Members Grid
            </a>
          </li>
          <li class="menu-item">
            <a href="members-list.html" class="menu-link">
              Members List
            </a>
          </li>
          <li class="menu-item">
            <a href="profile.html" class="menu-link">
              Profile
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/contactcontrol" class="menu-link menu-toggle active">
          <i class="fas fa-info-circle"></i>
          <span class="title">About Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="clients.html" class="menu-link">
              Clients
            </a>
          </li>
          <li class="menu-item">
            <a href="team.html" class="menu-link">
              Team
            </a>
          </li>
          <li class="menu-item">
            <a href="projects.html" class="menu-link">
              Projects
            </a>
          </li>
          <li class="menu-item">
            <a href="kanban-board.html" class="menu-link">
              Kanban Board
            </a>
          </li>
          <li class="menu-item">
            <a href="task.html" class="menu-link">
              Task
            </a>
          </li>
          <li class="menu-item">
            <a href="task-details.html" class="menu-link">
              Task Details
            </a>
          </li>
          <li class="menu-item">
            <a href="user.html" class="menu-link">
              User
            </a>
          </li>
          <li class="menu-item">
            <a href="project-create.html" class="menu-link">
              Project Create
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/gallerycontrol" class="menu-link menu-toggle active">
          <i class="fas fa-images"></i>
          <span class="title">Gallery Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="browse-courses.html" class="menu-link">
              Browse Courses
            </a>
          </li>
          <li class="menu-item">
            <a href="course-details.html" class="menu-link">
              Course Details
            </a>
          </li>
          <li class="menu-item">
            <a href="lesson-preview.html" class="menu-link">
              Lesson Preview
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle active">
          <i class="fas fa-chart-line"></i>
          <span class="title"> Analytics</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="customers.html" class="menu-link">
              Customers
            </a>
          </li>
          <li class="menu-item">
            <a href="reports.html" class="menu-link">
              Reports
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle active">
          <i class="fas fa-clipboard-list"></i>
          <span class="title">Visit Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="products.html" class="menu-link">
              Products
            </a>
          </li>
          <li class="menu-item">
            <a href="product-details.html" class="menu-link">
              Product Details
            </a>
          </li>
          <li class="menu-item">
            <a href="create-product.html" class="menu-link">
              Create Product
            </a>
          </li>
          <li class="menu-item">
            <a href="orders-list.html" class="menu-link">
              Orders List
            </a>
          </li>
          <li class="menu-item">
            <a href="order-details.html" class="menu-link">
              Order Details
            </a>
          </li>
          <li class="menu-item">
            <a href="customers-2.html" class="menu-link">
              Customers
            </a>
          </li>
          <li class="menu-item">
            <a href="cart.html" class="menu-link">
              Cart
            </a>
          </li>
          <li class="menu-item">
            <a href="checkout.html" class="menu-link">
              Checkout
            </a>
          </li>
          <li class="menu-item">
            <a href="sellers.html" class="menu-link">
              Sellers
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle active">
          <i class="fas fa-file-alt"></i>
          <span class="title">Resume Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="profile-2.html" class="menu-link">
              Profile
            </a>
          </li>
          <li class="menu-item">
            <a href="pricing.html" class="menu-link">
              Pricing
            </a>
          </li>
          <li class="menu-item">
            <a href="timeline.html" class="menu-link">
              Timeline
            </a>
          </li>
          <li class="menu-item">
            <a href="faq.html" class="menu-link">
              FAQ
            </a>
          </li>
          <li class="menu-item">
            <a href="blogs.html" class="menu-link">
              Blogs
            </a>
          </li>
          <li class="menu-item">
            <a href="blog-details.html" class="menu-link">
              Blog Details
            </a>
          </li>
          <li class="menu-item">
            <a href="gallery.html" class="menu-link">
              Gallery
            </a>
          </li>
          <li class="menu-item">
            <a href="contact-us.html" class="menu-link">
              Contact Us
            </a>
          </li>
          <li class="menu-item">
            <a href="404-error.html" class="menu-link">
              404 Error Page
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle active">
          <i class="fas fa-certificate"></i>
          <span class="title">Certificate Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="alerts.html" class="menu-link">
              Alerts
            </a>
          </li>
          <li class="menu-item">
            <a href="avatar.html" class="menu-link">
              Avatar
            </a>
          </li>
          <li class="menu-item">
            <a href="buttons.html" class="menu-link">
              Buttons
            </a>
          </li>
          <li class="menu-item">
            <a href="badges.html" class="menu-link">
              Badges
            </a>
          </li>
          <li class="menu-item">
            <a href="cards.html" class="menu-link">
              Cards
            </a>
          </li>
          <li class="menu-item">
            <a href="carousels.html" class="menu-link">
              Carousels
            </a>
          </li>
          <li class="menu-item">
            <a href="dropdowns.html" class="menu-link">
              Dropdowns
            </a>
          </li>
          <li class="menu-item">
            <a href="grids.html" class="menu-link">
              Grids
            </a>
          </li>
          <li class="menu-item">
            <a href="images.html" class="menu-link">
              Images
            </a>
          </li>
          <li class="menu-item">
            <a href="list.html" class="menu-link">
              List
            </a>
          </li>
          <li class="menu-item">
            <a href="modals.html" class="menu-link">
              Modals
            </a>
          </li>
          <li class="menu-item">
            <a href="navs.html" class="menu-link">
              Navs
            </a>
          </li>
          <li class="menu-item">
            <a href="paginations.html" class="menu-link">
              Paginations
            </a>
          </li>
          <li class="menu-item">
            <a href="popover-tooltips.html" class="menu-link">
              Popover Tooltips
            </a>
          </li>
          <li class="menu-item">
            <a href="progess.html" class="menu-link">
              Progess
            </a>
          </li>
          <li class="menu-item">
            <a href="spinners.html" class="menu-link">
              Spinners
            </a>
          </li>
          <li class="menu-item">
            <a href="tabs.html" class="menu-link">
              Tabs
            </a>
          </li>
          <li class="menu-item">
            <a href="accoridions.html" class="menu-link">
              Accoridions
            </a>
          </li>
          <li class="menu-item">
            <a href="date-time-picker.html" class="menu-link">
              Date/Time Picker
            </a>
          </li>
          <li class="menu-item">
            <a href="videos.html" class="menu-link">
              Videos
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle active">
          <i class="fas fa-file-contract"></i>
          <span class="title">Policy Manage</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="animation.html" class="menu-link">
              Animation
            </a>
          </li>
          <li class="menu-item">
            <a href="clip-board.html" class="menu-link">
              Clip Board
            </a>
          </li>
          <li class="menu-item">
            <a href="drag-and-drop.html" class="menu-link">
              Drag & Drop
            </a>
          </li>
          <li class="menu-item">
            <a href="range-slider.html" class="menu-link">
              Range Slider
            </a>
          </li>
          <li class="menu-item">
            <a href="ratings.html" class="menu-link">
              Ratings
            </a>
          </li>
          <li class="menu-item">
            <a href="toasts.html" class="menu-link">
              Toasts
            </a>
          </li>
          <li class="menu-item">
            <a href="sweet-alarts.html" class="menu-link">
              Sweet Alarts
            </a>
          </li>
          <li class="menu-item">
            <a href="scrollbar.html" class="menu-link">
              Scrollbar
            </a>
          </li>
          <li class="menu-item">
            <a href="highlights.html" class="menu-link">
              Highlights
            </a>
          </li>
          <li class="menu-item">
            <a href="scrollspy.html" class="menu-link">
              Scrollspy
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <div class="bg-white z-1 admin">
    <div class="d-flex align-items-center admin-info border-top">
      <div class="flex-shrink-0">
        <a href="profile.html" class="d-block">
          <img src="/assets/images/admin.jpg" class="rounded-circle wh-54" alt="admin">
        </a>
      </div>
      <div class="flex-grow-1 ms-3 info">
        <a href="profile.html" class="d-block name">Sourabh Jangir</a>
        <a href="/logout">Log Out</a>
      </div>
    </div>
  </div>
</div>
<style>
  .menu-link i {
    margin-right: 15px;
  }
</style>