<%- include('./components/header.ejs')%>
  <%- include('./components/sidebar.ejs')%>
    <div class="row justify-content-center">
      <div class="col-xxl-3 col-sm-6 col-xxxl-6">
        <div class="stats-box style-three card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="flex-shrink-0">
                <div class="icon transition">
                  <i class="flaticon-donut-chart"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
                <span class="fs-15 fw-semibold">Due Tasks</span>
                <div class="d-flex align-items-center justify-content-between my-1 up-down">
                  <h3 class="body-font fw-bold fs-3 mb-0">41</h3>
                  <span class="bg-success text-success bg-opacity-10 fs-13 fw-semibold py-1 px-2 rounded-2">5.80% <i
                      class="flaticon-arrow-up fs-13 fw-normal ms-1"></i></span>
                </div>
                <p class="fs-15">Completed projects this month</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-sm-6 col-xxxl-6">
        <div class="stats-box style-three card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="flex-shrink-0">
                <div class="icon transition">
                  <i class="flaticon-goal"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
                <span class="fs-15 fw-semibold">Active Projects</span>
                <div class="d-flex align-items-center justify-content-between my-1 up-down">
                  <h3 class="body-font fw-bold fs-3 mb-0">65</h3>
                  <span class="bg-danger text-danger bg-opacity-10 fs-13 fw-semibold py-1 px-2 rounded-2">1.04% <i
                      class="flaticon-down-filled-triangular-arrow fs-13 fw-normal ms-1"></i></span>
                </div>
                <p class="fs-15">Projects this month</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-sm-6 col-xxxl-6">
        <div class="stats-box style-three card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="flex-shrink-0">
                <div class="icon transition">
                  <i class="flaticon-timer"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
                <span class="fs-15 fw-semibold">Total Hours</span>
                <div class="d-flex align-items-center justify-content-between my-1 up-down">
                  <h3 class="body-font fw-bold fs-3 mb-0">801:30 Hr</h3>
                  <span class="bg-success text-success bg-opacity-10 fs-13 fw-semibold py-1 px-2 rounded-2">5.80% <i
                      class="flaticon-arrow-up fs-13 fw-normal ms-1"></i></span>
                </div>
                <p class="fs-15">Projects this month</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-sm-6 col-xxxl-6">
        <div class="stats-box style-three card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="flex-shrink-0">
                <div class="icon transition">
                  <i class="flaticon-award"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-md-3 mt-3 mt-md-0">
                <span class="fs-15 fw-semibold">Total Projects</span>
                <div class="d-flex align-items-center justify-content-between my-1 up-down">
                  <h3 class="body-font fw-bold fs-3 mb-0">24k</h3>
                  <span class="bg-success text-success bg-opacity-10 fs-13 fw-semibold py-1 px-2 rounded-2">5.80% <i
                      class="flaticon-arrow-up fs-13 fw-normal ms-1"></i></span>
                </div>
                <p class="fs-15">Projects this month</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xxl-6">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Task Distribution</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="task_distribution"></div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">My Tasks</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="chevron-down"></i>
                  <span>This Month</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="default-table-area my-task-list">
              <div class="table-responsive">
                <table class="table align-middle">
                  <thead>
                    <tr>
                      <th scope="col" class="text-primary">Name</th>
                      <th scope="col">Dedline</th>
                      <th scope="col">Status</th>
                      <th scope="col">Assignee</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault1">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault1">
                            Public Beta Release
                          </label>
                        </div>
                      </td>
                      <td>14 Feb 2024</td>
                      <td>
                        <span
                          class="badge bg-success bg-opacity-10 text-success py-2 px-3 fw-semibold d-block">Active</span>
                      </td>
                      <td>
                        <img src="assets/images/user-24.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lucile Young">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault2">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault2">
                            Fix Platform Errors
                          </label>
                        </div>
                      </td>
                      <td>08 Mar 2024</td>
                      <td>
                        <span
                          class="badge bg-primary bg-opacity-10 text-primary py-2 px-3 fw-semibold d-block">Complete</span>
                      </td>
                      <td>
                        <img src="assets/images/user-25.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Jordan Stevenson">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault3">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault3">
                            Launch our Mobile App
                          </label>
                        </div>
                      </td>
                      <td>10 Sep 2024</td>
                      <td>
                        <span
                          class="badge bg-success bg-opacity-10 text-success py-2 px-3 fw-semibold d-block">Active</span>
                      </td>
                      <td>
                        <img src="assets/images/user-26.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Francis Frank">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault4">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault4">
                            Add the New Pricing Page
                          </label>
                        </div>
                      </td>
                      <td>16 Mar 2024</td>
                      <td>
                        <span
                          class="badge bg-success bg-opacity-10 text-success py-2 px-3 fw-semibold d-block">Active</span>
                      </td>
                      <td>
                        <img src="assets/images/user-27.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Jordan Stevenson">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault5">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault5">
                            Redesign New Online Shop
                          </label>
                        </div>
                      </td>
                      <td>28 Sep 2022</td>
                      <td>
                        <span
                          class="badge bg-danger bg-opacity-10 text-danger py-2 px-3 fw-semibold d-block">Pending</span>
                      </td>
                      <td>
                        <img src="assets/images/user-28.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Easin Arafat">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault6">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault6">
                            Material Ui Design
                          </label>
                        </div>
                      </td>
                      <td>17 Jun 2024</td>
                      <td>
                        <span
                          class="badge bg-danger bg-opacity-10 text-danger py-2 px-3 fw-semibold d-block">Pending</span>
                      </td>
                      <td>
                        <img src="assets/images/user-29.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Jordan Stevenson">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="flexCheckDefault7">
                          <label class="form-check-label text-dark fw-semibold fs-16 heading-font"
                            for="flexCheckDefault7">
                            Add Progress Track
                          </label>
                        </div>
                      </td>
                      <td>10 Sep 2024</td>
                      <td>
                        <span
                          class="badge bg-success bg-opacity-10 text-success py-2 px-3 fw-semibold d-block">Active</span>
                      </td>
                      <td>
                        <img src="assets/images/user-30.jpg" class="rounded-circle wh-25 cursor" alt="user"
                          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Easin Arafat">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-sm-flex justify-content-between align-items-center text-center">
                <span class="fs-14">Showing 1 To 5 Of 20 Entries</span>
                <nav aria-label="Page navigation example">
                  <ul class="pagination mb-0 mt-3 mt-sm-0 justify-content-center">
                    <li class="page-item">
                      <a class="page-link icon" href="project-management.html" aria-label="Previous">
                        <i data-feather="arrow-left"></i>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="project-management.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="project-management.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="project-management.html">3</a></li>
                    <li class="page-item">
                      <a class="page-link icon" href="project-management.html" aria-label="Next">
                        <i data-feather="arrow-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Total Users</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="total_users"></div>
            <ul class="ps-0 mb-0 mt-3 list-unstyled d-flex justify-content-between text-center">
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Target</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-down-line fw-normal me-1 text-danger"></i> 18k</span>
              </li>
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Last Week</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-up-line fw-normal me-1 text-success"></i> 5.21k</span>
              </li>
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Last Month</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-down-line fw-normal me-1 text-danger"></i> 32k</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Completed Tasks</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="completed_tasks"></div>
            <ul class="ps-0 mb-0 mt-3 list-unstyled d-flex justify-content-between text-center">
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Target</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-down-line fw-normal me-1 text-danger"></i> 18k</span>
              </li>
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Last Week</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-up-line fw-normal me-1 text-success"></i> 5.21k</span>
              </li>
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Last Month</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-down-line fw-normal me-1 text-danger"></i> 32k</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Tasks Performance</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="tasks_performance"></div>
            <ul class="ps-0 mb-0 mt-3 list-unstyled d-flex justify-content-between text-center">
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Target</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-down-line fw-normal me-1 text-danger"></i> 18k</span>
              </li>
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Last Week</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-up-line fw-normal me-1 text-success"></i> 5.21k</span>
              </li>
              <li>
                <span class="d-block fw-semibold text-gray-light mb-2">Last Month</span>
                <span class="d-block fs-20 fw-semibold d-flex align-items-center"><i
                    class="ri-arrow-down-line fw-normal me-1 text-danger"></i> 32k</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xxl-8 col-xxxl-12">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Issues Summary</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="issues_summary"></div>
          </div>
        </div>
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">All Projects</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="chevron-down"></i>
                  <span>This Month</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="default-table-area project-list">
              <div class="table-responsive">
                <table class="table align-middle">
                  <thead>
                    <tr>
                      <th scope="col" class="text-primary">Project Name</th>
                      <th scope="col">Members</th>
                      <th scope="col">Budget</th>
                      <th scope="col">Status</th>
                      <th scope="col">Completion</th>
                      <th scope="col">Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="project-details.html" class="d-flex align-items-center mw-380">
                          <div class="flex-shrink-0">
                            <img src="assets/images/project-1.png" alt="project">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h4 class="fw-semibold fs-16 mb-0 lh-base hover">Product UIUX Design </h4>
                          </div>
                        </a>
                      </td>
                      <td>
                        <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center">
                          <li>
                            <img src="assets/images/user-30.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                          <li class="ms-8">
                            <img src="assets/images/user-31.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                          <li class="ms-8">
                            <img src="assets/images/user-32.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                        </ul>
                      </td>
                      <td>
                        <span class="d-block fs-15 text-center">$14,000</span>
                      </td>
                      <td>
                        <span
                          class="badge bg-success bg-opacity-10 text-success py-2 px-3 fw-semibold d-block text-center">Active</span>
                      </td>
                      <td>
                        <div class="progress position-relative rounded-pill" role="progressbar"
                          aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar rounded-pill" style="width: 70%">
                            <span class="count">70%</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">08 Mar 2024</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="project-details.html" class="d-flex align-items-center mw-380">
                          <div class="flex-shrink-0">
                            <img src="assets/images/project-2.png" alt="project">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h4 class="fw-semibold fs-16 mb-0 lh-base hover">Public Beta Release</h4>
                          </div>
                        </a>
                      </td>
                      <td>
                        <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center">
                          <li>
                            <img src="assets/images/user-30.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                          <li class="ms-8">
                            <img src="assets/images/user-31.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                        </ul>
                      </td>
                      <td>
                        <span class="d-block fs-15 text-center">$6,500</span>
                      </td>
                      <td>
                        <span
                          class="badge bg-primary bg-opacity-10 text-primary py-2 px-3 fw-semibold text-center d-block">Complete</span>
                      </td>
                      <td>
                        <div class="progress position-relative rounded-pill" role="progressbar"
                          aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar rounded-pill" style="width: 100%">
                            <span class="count">100%</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">17 Apr 2024</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="project-details.html" class="d-flex align-items-center mw-380">
                          <div class="flex-shrink-0">
                            <img src="assets/images/project-3.png" alt="project">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h4 class="fw-semibold fs-16 mb-0 lh-base hover">Market And SEO</h4>
                          </div>
                        </a>
                      </td>
                      <td>
                        <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center">
                          <li>
                            <img src="assets/images/user-30.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                          <li class="ms-8">
                            <img src="assets/images/user-31.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                        </ul>
                      </td>
                      <td>
                        <span class="d-block fs-15 text-center">$12,000</span>
                      </td>
                      <td>
                        <span
                          class="badge bg-primary bg-opacity-10 text-primary py-2 px-3 fw-semibold d-block text-center">Complete</span>
                      </td>
                      <td>
                        <div class="progress position-relative rounded-pill" role="progressbar"
                          aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar rounded-pill" style="width: 100%">
                            <span class="count">100%</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">10 Sep 2024</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="project-details.html" class="d-flex align-items-center mw-380">
                          <div class="flex-shrink-0">
                            <img src="assets/images/project-4.png" alt="project">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h4 class="fw-semibold fs-16 mb-0 lh-base hover">New Office Building</h4>
                          </div>
                        </a>
                      </td>
                      <td>
                        <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center">
                          <li>
                            <img src="assets/images/user-30.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                          <li class="ms-8">
                            <img src="assets/images/user-31.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                          <li class="ms-8">
                            <img src="assets/images/user-32.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                        </ul>
                      </td>
                      <td>
                        <span class="d-block fs-15 text-center">$9,000</span>
                      </td>
                      <td>
                        <span
                          class="badge bg-danger bg-opacity-10 text-danger py-2 px-3 fw-semibold d-block text-center">Pending</span>
                      </td>
                      <td>
                        <div class="progress position-relative rounded-pill" role="progressbar"
                          aria-label="Example with label" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar rounded-pill" style="width: 00%">
                            <span class="count">00%</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">06 Aug 2022</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="project-details.html" class="d-flex align-items-center mw-380">
                          <div class="flex-shrink-0">
                            <img src="assets/images/project-5.png" alt="project">
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h4 class="fw-semibold fs-16 mb-0 lh-base hover">Product Devlopment</h4>
                          </div>
                        </a>
                      </td>
                      <td>
                        <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center">
                          <li>
                            <img src="assets/images/user-31.jpg"
                              class="border border-2 rounded-circle wh-25 bg-white border-color-white" alt="user">
                          </li>
                        </ul>
                      </td>
                      <td>
                        <span class="d-block fs-15 text-center">$14,500</span>
                      </td>
                      <td>
                        <span
                          class="badge bg-success bg-opacity-10 text-success py-2 px-3 fw-semibold text-center d-block">Active</span>
                      </td>
                      <td>
                        <div class="progress position-relative rounded-pill" role="progressbar"
                          aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar rounded-pill" style="width: 60%">
                            <span class="count">60%</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">25 Jul 2024</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-sm-flex justify-content-between align-items-center text-center">
                <span class="fs-14">Showing 1 To 5 Of 20 Entries</span>
                <nav aria-label="Page navigation example">
                  <ul class="pagination mb-0 mt-3 mt-sm-0 justify-content-center">
                    <li class="page-item">
                      <a class="page-link icon" href="project-management.html" aria-label="Previous">
                        <i data-feather="arrow-left"></i>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="project-management.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="project-management.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="project-management.html">3</a></li>
                    <li class="page-item">
                      <a class="page-link icon" href="project-management.html" aria-label="Next">
                        <i data-feather="arrow-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xxxl-12">
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Team Members</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="default-table-area team-members">
              <div class="table-responsive">
                <table class="table align-middle">
                  <thead>
                    <tr>
                      <th scope="col" class="text-primary">Member</th>
                      <th scope="col" class="text-center">Hours</th>
                      <th scope="col" class="text-center">Task</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="ps-0">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0">
                            <img src="assets/images/user-1.jpg" class="rounded-circle wh-44" alt="user-1">
                          </div>
                          <div class="flex-grow-1 ms-10">
                            <h4 class="fw-semibold fs-16 mb-0">Jordan Steve</h4>
                            <span class="text-gray-light">@jstevenson5c</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">110h : 150m</span>
                      </td>
                      <td>
                        <span class="d-block text-center">258</span>
                      </td>
                      <td class="pe-0">
                        <div id="status1"></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-0">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0">
                            <img src="assets/images/user-2.jpg" class="rounded-circle wh-44" alt="user-1">
                          </div>
                          <div class="flex-grow-1 ms-10">
                            <h4 class="fw-semibold fs-16 mb-0">Lydia Reese</h4>
                            <span class="text-gray-light">@lreese3b</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">220h : 58m</span>
                      </td>
                      <td>
                        <span class="d-block text-center">295</span>
                      </td>
                      <td class="pe-0">
                        <div id="status2"></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-0">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0">
                            <img src="assets/images/user-3.jpg" class="rounded-circle wh-44" alt="user-1">
                          </div>
                          <div class="flex-grow-1 ms-10">
                            <h4 class="fw-semibold fs-16 mb-0">Easin Arafat</h4>
                            <span class="text-gray-light">@jstevenson5c</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">315h : 40m</span>
                      </td>
                      <td>
                        <span class="d-block text-center">150</span>
                      </td>
                      <td class="pe-0">
                        <div id="status3"></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="ps-0">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0">
                            <img src="assets/images/user-4.jpg" class="rounded-circle wh-44" alt="user-1">
                          </div>
                          <div class="flex-grow-1 ms-10">
                            <h4 class="fw-semibold fs-16 mb-0">Laurent Per</h4>
                            <span class="text-gray-light">@laurentperrier</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span class="d-block text-center">90h : 50m</span>
                      </td>
                      <td>
                        <span class="d-block text-center">340</span>
                      </td>
                      <td class="pe-0">
                        <div id="status4"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card bg-white border-0 rounded-10 mb-4">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-20 mb-20">
              <h4 class="fw-semibold fs-18 mb-0">Activity Timeline</h4>
              <div class="dropdown action-opt">
                <button class="btn bg-transparent p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i data-feather="more-horizontal"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-white border box-shadow">
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="clock"></i>
                      Today
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="pie-chart"></i>
                      Last 7 Days
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="rotate-cw"></i>
                      Last Month
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="calendar"></i>
                      Last 1 Year
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="bar-chart"></i>
                      All Time
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="eye"></i>
                      View
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:;">
                      <i data-feather="trash"></i>
                      Delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-sm-flex justify-content-between align-items-center border-bottom border-color-gray pb-3 mb-3">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="assets/images/pdf.svg" alt="pdf">
                </div>
                <div class="flex-grow-1 ms-3 mw-300">
                  <h4 class="text-dark fs-15 fw-semibold text-body mb-0 lh-base">Donald updated the status of Refund
                    #1234 to awaiting customer</h4>
                </div>
              </div>
              <span class="text-gray-light mt-3 mt-sm-0 d-block">54 Min ago</span>
            </div>
            <div class="d-sm-flex justify-content-between align-items-center border-bottom border-color-gray pb-3 mb-3">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="assets/images/notifications-1.jpg" alt="notifications">
                </div>
                <div class="flex-grow-1 ms-3 mw-300">
                  <h4 class="text-dark fs-15 fw-semibold text-body mb-0 lh-base">Design new UI and check sales update
                    Meta4 Systems</h4>
                </div>
              </div>
              <span class="text-gray-light mt-3 mt-sm-0 d-block">10 hours ago</span>
            </div>
            <div class="d-sm-flex justify-content-between align-items-center border-bottom border-color-gray pb-3 mb-3">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="assets/images/notifications-2.jpg" alt="notifications">
                </div>
                <div class="flex-grow-1 ms-3 mw-300">
                  <h4 class="text-dark fs-15 fw-semibold text-body mb-0 lh-base">James Bangs (Client) Meeting Nesta
                    Technologies</h4>
                </div>
              </div>
              <span class="text-gray-light mt-3 mt-sm-0 d-block">Yesterday</span>
            </div>
            <div class="d-sm-flex justify-content-between align-items-center border-bottom border-color-gray pb-3 mb-3">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="assets/images/notifications-3.jpg" alt="notifications">
                </div>
                <div class="flex-grow-1 ms-3 mw-300">
                  <h4 class="text-dark fs-15 fw-semibold text-body mb-0 lh-base">Joseph Rust opened new showcase
                    Mannat theme market</h4>
                </div>
              </div>
              <span class="text-gray-light mt-3 mt-sm-0 d-block">14 Nov 2021</span>
            </div>
            <div class="d-sm-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img src="assets/images/notifications-4.jpg" alt="notifications">
                </div>
                <div class="flex-grow-1 ms-3 mw-300">
                  <h4 class="text-dark fs-15 fw-semibold text-body mb-0 lh-base">Brust opened new showcase some theme
                    market demo text</h4>
                </div>
              </div>
              <span class="text-gray-light mt-3 mt-sm-0 d-block">Wednesday</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./components/footer.ejs')%>